.menu-bar {
    background-color: #333; /* Cor de fundo da barra de menu */
    color: #fff; /* Cor do texto */
    position: initial; /* Torna a barra de menu fixa na parte superior */
    top: initial; /* A barra de menu ficará no topo da janela */
    left: initial;
    width: 100%; /* Cobrirá toda a largura da janela */
    /*z-index: 1000; /* Define a ordem de empilhamento (ajuste conforme necessário) */
}

.spacer {
    height: 13px; /* Ajuste conforme a altura da barra de menu */
}
